# Update this with your actual Supabase URL and Anon Key.
# DO NOT commit the .env.local file to version control.
NEXT_PUBLIC_SUPABASE_URL=https://hkjhpebufyoknsauxgap.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhramhwZWJ1Znlva25zYXV4Z2FwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzODEwNjQsImV4cCI6MjA4ODk1NzA2NH0.wfo8kJ3CStlrG9p95D-HuW_VdHB_AvPLnrIKn50ouXI
